# How to get data from SNB BNS

This is a sample notebook that demonstrates how to access data from SNB BNS web site.

### Background

The download URL for the Excel is not directly avaialble from the web page.  We can, however, extract the URL using the following procedure.

### Example

Find a chart on the web site e.g. https://data.snb.ch/en/topics/ziredev

Click on the Download Excel link at the top. Notice that the URL changes to 
https://data.snb.ch/en/topics/ziredev#!/chart/rendeidglfzch

This URL reveals the chartId (`rendeidglfzch`) that is required for locating the fileId for the Excel download file.

### Procedure

**Step 1.** Request the fileid using the `getChartExcelFileRef` endpoint.

```
URL:
https://data.snb.ch/json/chart/getChartExcelFileRef?lang=EN&pageViewTime=20180408_050806

Method:
POST

Body:
{"chartId":"rendeidglfzch"}
```

**Step 2.** Extract the fileid from the response of the above request.  Note that the text looks corrupted at the beginning.  We do not care about that, however, since we will be stripping them off to obtain the fileid.

```
Response:
)]}\',\n{"fileid":"a80cb2bd79caab4dc7ac831a195a52320d2ab822c89819e8a405eb9c9937ed0c"}

What we need:
a80cb2bd79caab4dc7ac831a195a52320d2ab822c89819e8a405eb9c9937ed0c
```

**Step 3.** Download the Excel file via Pandas' `read_excel` function.  The URL is constructed with the fileid as follows:

```
URL:
'https://data.snb.ch/json/table/getFile?fileId=a80cb2bd79caab4dc7ac831a195a52320d2ab822c89819e8a405eb9c9937ed0c&pageViewTime=20180408_043419&lang=en'
```

In [1]:
import pandas as pd
import datetime
import requests
import re

In [2]:
# get current timestamp
dt = f"{datetime.datetime.utcnow():%Y%m%d_%H%M%S}"
dt

'20180408_052651'

In [3]:
# construct reference file id URL
refurl = "https://data.snb.ch/json/chart/getChartExcelFileRef?lang=EN&pageViewTime=%s" % dt
refurl

'https://data.snb.ch/json/chart/getChartExcelFileRef?lang=EN&pageViewTime=20180408_052651'

In [4]:
# Get file id for this chart 
x = requests.post(refurl, headers={"Content-type": "application/json;charset=UTF-8"}, data='{"chartId":"rendeidglfzch"}')

In [5]:
# Convert the response to String type
s = x.content.decode("UTF-8")
s

')]}\',\n{"fileid":"a80cb2bd79caab4dc7ac831a195a52320d2ab822c89819e8a405eb9c9937ed0c"}'

In [6]:
# Strip away the beginning and the end of the string, leaving the fileid
s = re.sub(r'^.*\n{"fileid":"', '', s)
s = re.sub(r'"}', '', s)
s

'a80cb2bd79caab4dc7ac831a195a52320d2ab822c89819e8a405eb9c9937ed0c'

In [7]:
# Construct download URL
fileurl = 'https://data.snb.ch/json/table/getFile?fileId=%s&pageViewTime=%s&lang=en' % (s, dt)
fileurl

'https://data.snb.ch/json/table/getFile?fileId=a80cb2bd79caab4dc7ac831a195a52320d2ab822c89819e8a405eb9c9937ed0c&pageViewTime=20180408_052651&lang=en'

In [8]:
# Read file directly.  Skip unnecessary rows at the top.
df = pd.read_excel(fileurl, skiprows=15)

In [9]:
# Let's take a look!
df

      Unnamed: 0  2 years  5 years  10 years  20 years
0     1988-01-04    3.691    3.823     4.015     4.229
1     1988-01-05    3.691    3.823     4.015     4.229
2     1988-01-06    3.691    3.823     4.015     4.229
3     1988-01-07    3.691    3.823     4.015     4.229
4     1988-01-08    3.691    3.823     4.015     4.229
5     1988-01-11    3.720    3.847     4.015     4.232
6     1988-01-12    3.720    3.847     4.015     4.232
7     1988-01-13    3.720    3.847     4.015     4.232
8     1988-01-14    3.720    3.847     4.015     4.232
9     1988-01-15    3.720    3.847     4.015     4.232
10    1988-01-18    3.699    3.820     4.025     4.292
11    1988-01-19    3.699    3.820     4.025     4.292
12    1988-01-20    3.699    3.820     4.025     4.292
13    1988-01-21    3.699    3.820     4.025     4.292
14    1988-01-22    3.699    3.820     4.025     4.292
15    1988-01-25    3.101    3.705     4.085     4.286
16    1988-01-26    3.101    3.705     4.085     4.286
17    1988-01-27    3.101    3.705     4.085     4.286
18    1988-01-28    3.101    3.705     4.085     4.286
19    1988-01-29    3.218    3.695     4.092     4.326
20    1988-02-01    3.199    3.690     4.115     4.364
21    1988-02-02    3.199    3.690     4.115     4.364
22    1988-02-03    3.199    3.690     4.115     4.364
23    1988-02-04    3.199    3.690     4.115     4.364
24    1988-02-05    3.199    3.690     4.115     4.364
25    1988-02-08    3.495    3.736     4.080     4.365
26    1988-02-09    3.495    3.736     4.080     4.365
27    1988-02-10    3.495    3.736     4.080     4.365
28    1988-02-11    3.495    3.736     4.080     4.365
29    1988-02-12    3.495    3.736     4.080     4.365
...          ...      ...      ...       ...       ...
7860  2018-02-19   -0.746   -0.408     0.191     0.567
7861  2018-02-20   -0.740   -0.404     0.207     0.596
7862  2018-02-21   -0.733   -0.440     0.157     0.549
7863  2018-02-22   -0.737   -0.429     0.173     0.564
7864  2018-02-23   -0.743   -0.451     0.144     0.533
7865  2018-02-26   -0.756   -0.458     0.125     0.519
7866  2018-02-27   -0.760   -0.456     0.133     0.530
7867  2018-02-28   -0.770   -0.474     0.116     0.512
7868  2018-03-01   -0.774   -0.503     0.089     0.487
7869  2018-03-02   -0.775   -0.516     0.074     0.475
7870  2018-03-05   -0.787   -0.516     0.082     0.475
7871  2018-03-06   -0.774   -0.492     0.102     0.493
7872  2018-03-07   -0.775   -0.473     0.127     0.514
7873  2018-03-08   -0.776   -0.468     0.130     0.515
7874  2018-03-09   -0.779   -0.474     0.118     0.499
7875  2018-03-12   -0.780   -0.471     0.119     0.496
7876  2018-03-13   -0.768   -0.468     0.119     0.498
7877  2018-03-14   -0.773   -0.467     0.133     0.518
7878  2018-03-15   -0.770   -0.462     0.132     0.511
7879  2018-03-16   -0.780   -0.487     0.111     0.493
7880  2018-03-19   -0.794   -0.494     0.110     0.492
7881  2018-03-20   -0.787   -0.502     0.098     0.482
7882  2018-03-21   -0.791   -0.488     0.113     0.493
7883  2018-03-22   -0.790   -0.504     0.096     0.478
7884  2018-03-23   -0.812   -0.528     0.074     0.455
7885  2018-03-26   -0.798   -0.509     0.093     0.474
7886  2018-03-27   -0.797   -0.508     0.093     0.475
7887  2018-03-28   -0.804   -0.537     0.048     0.429
7888  2018-03-29   -0.791   -0.529     0.054     0.437
7889  2018-03-30   -0.791   -0.529     0.054     0.437

[7890 rows x 5 columns]